html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  position: relative;
  margin: 0;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background: #fff;
  z-index: 10;
}

body:after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  background: #fff;
  z-index: 10;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-size: 1.317715vw;
  overflow: hidden;
}

p span {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

p div {
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.73, 0, 0.13, 1);
}

p.--is-visible div {
  transform: translateY(0);
}

p.-feat {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-size: 3.0746705vw;
  margin-top: 0.42em;
  margin-bottom: 0.42em;
}

p.-feat span {
  white-space: nowrap;
}

figure {
  margin: 0;
  background: #000;
}

.topbar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: #fff;
  width: calc(16.6666666667% - 32px);
  padding: 32px;
  transform: translateX(calc(-100% + 32px));
  transition: transform 0.3s cubic-bezier(0.73, 0, 0.13, 1);
  display: flex;
  flex-direction: column;
}

.topbar:hover,
.topbar.is-sticky {
  transform: translateX(0px);
}

.topbar h1 {
  font-family: "Averia Serif Libre", serif;
  font-weight: 600;
  font-size: 3.0746705vw;
  text-transform: uppercase;
  margin-top: 0;
}

.topbar h1 span {
  display: inline-block;
}

.topbar h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 2.3426vw;
  margin-top: 0;
}

.topbar h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.3177vw;
  margin-top: 0;
}

.topbar nav {
  margin-top: auto;
  padding-top: 16px;
  border-top: 4px solid #000;
}

.topbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topbar nav li a {
  display: flex;
  justify-content: space-between;
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-size: 1.61vw;
  text-decoration: none;
  color: inherit;
}

.topbar nav li a:hover,
.topbar nav li a.is-active {
  font-weight: 600;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  right: 0;
  margin-top: -16px;
}

.menu .circle {
  display: block;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background: #000;
}

.chapter {
  position: relative;
  display: none;
}

.chapter.is-active {
  display: block;
}

.heading {
  position: relative;
  top: 0;
  z-index: 2;
  margin-left: 50%;
  /* clip-path: inset(0 0 0% 0);
  transition: clip-path .6s ease-in-out; */
}

.heading span {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-size: 3.0746705vw;
}

.heading__box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  padding: 0 32px;
}

.screen {
  position: relative;
  display: none;
  min-height: calc(100vh - 64px);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 112px auto;
  padding: 32px;
}

.screen.is-active {
  display: grid;
}

.screen.is-hidding--next,
.screen.is-showing--prev {
  position: fixed;
  bottom: 0;
}

.screen.is-showing--next,
.screen.is-hidding--prev {
  position: fixed;
  top: 0;
}

.content .col-l {
  padding-right: calc((100% + 32px) / 2);
}

.content .col-r {
  padding-left: calc((100% + 32px) / 2);
}

.chapter .screen .look {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 32px;
  width: 64px;
  height: 64px;
  margin-top: auto;
  margin-left: auto;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 1;
}

.chapter .screen .look:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url(expand-media.49fc17ee.svg) 50% 50% no-repeat;
  background-size: cover;
  /* grid-row-start: 1;
  grid-row-end: 2;
  background: red; */
}

.chapter .screen .heading {
  position: sticky;
  top: 32px;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
}

.chapter .screen .heading--big {
  grid-column-start: 2;
  grid-column-end: 7;
}

.chapter .screen .heading:before {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

.chapter .screen .figure {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter .screen .figure__box {
  position: sticky;
  top: 32px;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.chapter .screen .figure__box video,
.chapter .screen .figure__box img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}

.chapter .screen .content {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 112px 32px 32px;
  background: #fff;
  clip-path: inset(0 0% 0 0);
  transition: clip-path 0.6s ease-in-out;
}

/* .chapter .screen .look:hover ~ .heading {
    clip-path: inset(0 0 100% 0);
} */
.chapter .screen .look:hover ~ .content {
  clip-path: inset(0 100% 0 0);
}

.chapter .screen .content hr {
  border: 0;
  margin: 0;
  height: 4.2vw;
}

/* CHAPTER 1 */
.chapter-1 .screen-1 .content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* CHAPTER 2 */
.chapter-2 .screen-1 .content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter-2 .screen-2_1 .content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter-2 .screen-2_2 .content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter-2 .screen-3 .content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter-2 .screen-5 .content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter-2 .screen-6 .content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* CHAPTER 3 */
.chapter-3 .screen-1 .content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter-3 .screen-2 .content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* CHAPTER 4 */
.chapter-4 .screen-1 .content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter-4 .screen-2 .content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chapter-4 .screen-3 .content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}